.home-content{
  width: 60%;
  height: 578px;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(2 ,1fr);
  border-radius: 1rem;
}
.Thanks-content{
  width: 30%;
  height: 433px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 3rem;
  border-radius: 1rem;
}
p{
 color: #777;
}

@media screen and (max-width: 1200px){
  .home-content{
    width: 75%;
  }
  .Thanks-content{
    width: 40%;
  }
}
@media screen and (max-width: 991px){
  .home-content{
    width: 85%;
  }
  .Thanks-content{
    padding: 2rem;
  }
}
@media screen and (max-width: 767px){
  .home-content{
    width: 95%;
    height: 469px;
  }
  p,
  label,
  button{
    font-size: 13px;
  }
  .Thanks-content{
    width: 50%;
  }
}
@media screen and (max-width: 600px){
  .home-content{
    width: 95%;
    height: 411px;
  }
  p,
  label,
  button{
    font-size: 12px !important;
  }
  .Thanks-content{
    width: 60%;
  }
}
@media screen and (max-width: 500px){
  .home-content{
    width: 98%;
    height: 365px;
  }
  .container {
    padding-left: 0.3rem;
    gap: 0.3rem;
}
.container .top-text,
.container .middle-text{
  gap: 0.5rem;
}
}
@media screen and (max-width: 380px){
  .home-content{
    width: 100%;
    height: 100%;
    border-radius: 0;
    display: flex;
    flex-direction: column-reverse;
  }
  p,
  label{
    font-size: 12px;
  }
  .Thanks-content{
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 1.5rem;
    justify-content: center;
    gap: 1.5rem;
  }
}